<div>
  <div *ngFor="let group of customersData" style="margin-bottom: 30px;">
    <h3>
      {{ group.CustomerTypeId }} - {{ group.CustomterTypeName }}
    </h3>

    <table border="1" style="width: 100%; border-collapse: collapse;">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Email</th>
          <th>Age</th>
          <th>#</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let cus of group.Customers">
          <td style="text-align: center;">{{ cus.Id }}</td>
          <td style="text-align: center;">{{ cus.Name }}</td>
          <td style="text-align: center;">{{ cus.Email }}</td>
          <td style="text-align: center;">{{ cus.Age }}</td>
          <td style="text-align: center;">
            <img [src]="cus.Image" alt="{{ cus.Name }}" width="140">
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
